/* Global styles */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Questrial', Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Header and blockquote styles */

blockquote {
    color: #cccccc;
    font-style: italic;
    font-size: 25px;
}

h1 {
    color: #BA0419;
    font-family: 'Anton', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 1px 2px #000000;
}


