/* Global styles */

body {
    background-color: #eeeeee;
    color: #000000;
    font-family: 'Questrial', Arial, sans-serif;
}

div {
    margin: 25px auto;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 20px;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

p {
    letter-spacing: 1px;
    line-height: 2em;
}

li {
    display: inline;
    text-align: center;
    line-height: 2em;
}

/* Header and blockquote styles */

blockquote {
    color: #cccccc;
    font-style: italic;
    font-size: 25px;
}

h1 {
    color: #BA0419;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-shadow: 2px 1px 2px #999999;
}

h2 {
    color: #FFD409;
    font-family: 'Anton', Arial, sans-serif;
    font-size: 2em;
    margin-bottom: -1.3%;
}

h3 {
    color: #375695;
    font-family: 'Anton', Arial, sans-serif;
    font-size: 1.5em;
}

h4 {

}

/* Class */
ul.menu {
    text-align: center;
}

/* Div IDs */

#mainheader {
    display: block;
    text-align: center;
}


