/* GLOBAL STYLE */

body {
    background: #333333 url(../images/sunstars.png);
    background-repeat: repeat-y;
    background-position: left;
    color: #000000;
    font-family: 'Questrial', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    border: 0;
    background: none;
    box-shadow: none;
}

/* GLOBAL LINKS */

a:link {
    color: #BA0419;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
    color: #375695;
}

a:active {
    color: #FFCC00;
}

a:visited {
    color: #AA0419;
}

a:visited:hover {
    color: #375695;
}

/* GLOBAL DISPLAY STYLES */

div {
    border: 0;
    margin: 10% 10%;
    height: auto;
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 9px 10px 13px 0 rgba(0,0,0,0.45);
    opacity: 0.9;
    overflow: auto;
}

section{
    margin: 10px auto;
    padding: 5px;
}

figure {
    display: table-cell;
    margin: 10px 4%;
    width: 10%;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}


figcaption{
    margin: 0 auto;
    padding: 0;
    width: 75%;
    font-size: 0.8em;
}

img {
    border: 0;
    width: 75%;
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    vertical-align: middle;
}

/* FOR FIREFOX BROWSER USERS
@-moz-document url-prefix() {
    img {
    width: 75%;}
}
*/

/* GLOBAL TEXT STYLES */

p {
    width: 85%;
    margin: 2% auto;
    letter-spacing: 1px;
    line-height: 2em;
    text-indent: 2em;
    text-align: justify;
}

li {
    width: 75%;
    margin: 0 auto;
    line-height: 2em;
}
strong {
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: -0.5px;
}

span {
    font-weight: bold;
    color: #BA0419;
}

blockquote {
    color: #555555;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 2.5em;
}

/* TABLE STYLES */
table {
    margin: 2px auto;
    padding: 10px;
    width: 85%;
    vertical-align: top;
    text-align: center;
    background-color: #ffffff;
    border: 0;
    border-collapse: separate;
    border-spacing: 1px 5px;
    font-size: 0.8em;
}

th{
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #cccccc;
}

tr {
    padding: 10px;
    background-color: #eeeeee;
}

tr:hover, tr.odd:hover{
    background-color: #ddeeff;
}

tr.odd{
    padding: 10px;
    margin: 10px;
    background-color: #fefefe;

}

td{
    padding: 10px;
}

/* FORM STYLES */
form {
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    background-color: #ffffff;
    font-size: 0.8em;
}

input, textarea{
    margin: 2px auto;
    padding: 3px;
    border: 1px #333333;
    box-shadow: none;
    background-color: #eeeeee;
    font-family: 'Questrial', Arial, sans-serif;
}

label {
    display: inline;
    margin: 5px;
}

label:hover, input:hover,
textarea:hover{
    background-color: #ddeeff;
}

label:focus, input:focus,
textarea:focus{
    background-color: #FFCC00;
}

.left {
    display: inline-block;
    width: 45%;
    float: left;
    clear: right;
    margin: 5px auto;
}

.right{
    display: inline-block;
    width: 45%;
    float: right;
    margin: 5px auto;
}

#submit {
    clear: right;
    margin: 10px auto;
}



/* HEADERS */

h1 {
    margin-top: auto;
    color: #BA0419;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 7em;
    font-weight: bold;
    text-shadow: 2px 1px 2px #999999;
}

h2 {
    margin-top: auto;
    margin-bottom: -1.3%;
    color: #FFCC00;
    font-family: 'Anton', Arial, sans-serif;
    font-size: 3.1em;
    text-align: center;
}

h3 {
    margin-bottom: -1.5%;
    padding-left: 1em;
    color: #375695;
    font-family: 'Anton', Arial, sans-serif;
    font-size: 2.2em;
}

h4 {
    margin: 0 auto;
    color: #BA0419;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    position: relative;
}

/* MAIN HEADER */

header {
    background: #ffffff url(../images/headerbg3.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin: 10% 10%;
    padding: 15px 20px;
}

header a{
    margin-top: -35px;
    color: #375695;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

header p{
    margin-top: -35px;
    text-align: center;
}

/* MAIN NAVIGATION */
nav {
    margin: -10px -0.65%;
    padding: 0;
    width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 0;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
    box-shadow: none;
    position: fixed;
    vertical-align: top;
    opacity: 0.9;
    z-index: 100;
}

li nav {
    display: inline;
    text-align: center;
    line-height: 1.5em;
}

a:link nav {
    color: #BA0419;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

a:active nav {
    color: #FFCC00;
}

a:hover nav {
    color: #375695;
}

a:visited nav {
    color: #BA0419;
}

a:visited:hover nav {
    color: #375695;
}

/* FOOTER */
footer {
    clear: both;
    border: 0;
    margin: 10% 10%;
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 9px 10px 13px 0 rgba(0,0,0,0.45);
    opacity: 0.9;
}
p#credits {
    text-align: center;
}


/* CLASSES */

/* CLASS -- COLUMN */
figure.column {
    display: block;
    margin: 10px 4% auto;
    width: 85%;
    max-width: 85%;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

/* CLASS -- MENU */

.menu {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 1px;
}
.menu li{
    display: inline;
    text-align: center;
    line-height: 2em;
}

.menu a:link {
    color: #BA0419;
    font-family: 'Oswald', Arial, sans-serif;
}

.menu a:hover {
    color: #375695;
}

.menu a:active {
    color: #FFCC00;
}

.menu a:visited {
    color: #AA0419;
}

.menu a:visited:hover {
    color: #375695;
}

/* CLASS -- GALLERY */

.gallery {
    display: inline-block;
    margin: 0 auto;
    padding-left: 4%;
    background: none;
    box-shadow: none;
    border: 0;
    width: 95%;
    overflow: auto;
}

/* DIV IDs */

/* DIV -- HISTORY */
#history {
    margin: 100px 10%;
}

/* DIV -- TYPES OF FMA */

#types {
    clear: left;
    display: inline-block;
    float:left;
    width: 53%;
    padding: 1.5em;
    margin: 55px 1% 10% 10%;
}

/* WEAPONS */

#weapons {
    float:left;
    width: 19%;
    padding: 1.3em;
    margin: 55px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 9px 10px 13px 0 rgba(0,0,0,0.45);
    opacity: 0.9;
}

img#weapons {
    width: 2em;
    height: auto;
}

/* DIV -- FIGURES */

#figures {
    clear: left;
    margin: 5% 10%;
}

#figures a:link {
    text-transform: none;
}






